<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm mt-4">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Cadastrar Novo Evento</h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="cadastrar()">
          
          <div class="mb-3">
            <label class="form-label fw-bold">Nome do Evento</label>
            <input type="text" class="form-control" [(ngModel)]="novoEvento.nome" name="nome" placeholder="Ex: Minicurso de Angular" required>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold">Data e Hora</label>
            <input type="datetime-local" class="form-control" [(ngModel)]="novoEvento.data" name="data" required>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold">Localização</label>
            <input type="text" class="form-control" [(ngModel)]="novoEvento.local" name="local" placeholder="Ex: Auditório Principal" required>
          </div>

          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-success btn-lg">Salvar Evento</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
